---
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/HeroSection.astro';
import CompatibilitySection from '../components/CompatibilitySection.astro';
import InnovationSection from '../components/InnovationSection.astro';
---

<Layout title="Revolution 5 PRO">
  <main
    class="snap-y snap-mandatory relative w-full h-screen overflow-y-auto overflow-x-hidden scroll-smooth"
  >
    <div class="snap-center">
      <HeroSection />
    </div>
    <div class="snap-center">
      <CompatibilitySection />
    </div>
    <div class="snap-center">
      <InnovationSection />
    </div>
  </main>
</Layout>
