---
import Section from './Section.astro';
---

<Section
  title="REVOLUTION 5 PRO"
  subtitle="¡Hazte con él en tu tienda favorita!"
  color="white"
  pt="pt-10"
  textSize="text-[40px]"
  img="/testingrepo/naconlogo.svg"
>
  <article
    slot="main"
    class="text-white flex flex-col xl:flex-row items-center justify-center gap-10 w-screen"
  >
    <div class="flex flex-col xl:flex-row gap-5 justify-center items-center">
      <div>
        <img src="/testingrepo/game.png" alt="Game" class="w-28" />
      </div>
      <div>
        <img
          src="/testingrepo/corteinglés.png"
          alt="El Corte Inglés"
          class="w-28"
        />
      </div>
      <div>
        <img src="/testingrepo/fnac.png" alt="FNAC" class="w-28" />
      </div>
    </div>
  </article>

  <div slot="footer" class="pb-14">
    <hr
      class="w-48 h-1 mx-auto my-4 bg-gray-100 border-0 rounded md:my-10 dark:bg-gray-700"
    />
    <h3 class="text-[40px] xl:text-[64px] font-bold text-white">229.90 €</h3>
  </div>

  <img
    slot="background"
    src="/testingrepo/innovationbg.jpg"
    class="object-center object-cover h-full w-full"
  />
</Section>
