---
import Section from './Section.astro';
---

<Section
  title="¿CON CUÁL TE QUEDAS?"
  subtitle="Disponible en dos colores"
  color="white"
  pt="pt-5 xl:pt-20"
  textSize="text-[36px] xl:text-[40px]"
>
  <article
    slot="main"
    class="text-gray-200 flex flex-col items-center justify-center"
  >
    <div
      class="w-sm w-3/4 flex flex-col xl:flex-row justify-around gap-6 xl:gap-24"
    >
      <img
        class="max-w-sm md:max-w-md lg:max-w-lg xl:max-w-lg"
        src="testingrepo/white2.png"
        alt=""
      />
      <img
        class="max-w-sm md:max-w-md lg:max-w-lg xl:max-w-lg"
        src="testingrepo/black2.png"
        alt=""
      />
    </div>
  </article>

  <div slot="footer" class="pb-10">
    <a
      class="border-[3px] backdrop-blur-sm text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors"
      href="#"
    >
      COMPRAR AHORA</a
    >
    <!-- <p class="mt-2 text-gray-100 text-sm">
      * Incluye 0,08€ por la <a class="underline" href="#">ecopart</a>
    </p> -->
  </div>

  <div
    slot="background"
    class="bg-gradient-to-b from-zinc-950 to-zinc-900 object-center object-cover h-full w-full"
  >
  </div>
</Section>
