---
import Section from './Section.astro';
---

<Section
  title="El primer mando Revolution Pro compatible con..."
  subtitle=""
  color="black"
>
  <div slot="main" class="flex justify-center items-center pl-5">
    <img src="././public/ps5ps4pc.png" alt="Compatible con PS5, PS4 y PC" />
  </div>

  <div slot="footer" class="flex flex-col items-center justify-center">
    <img
      src="././public/revolution5pro_frontal.png"
      alt="Mando Revolution 5 PRO"
    />
  </div>

  <div
    slot="background"
    class="bg-gray-300 object-center object-cover h-full w-full"
  >
  </div>
</Section>
