---
import Section from './Section.astro';
import { firstSectionData } from '../data/first_section.js';
import LongSection from './LongSection.astro';
---

<LongSection>
  <article slot="main" class="flex justify-center items-center flex-col gap-0">
    {
      firstSectionData.map((data) => {
        return (
          <>
            <h1 class="text-[42px] font-bolder">{data.title}</h1>
            <div class="flex items-center justify-center flex-col">
              <img
                src={data.mainImg.src}
                alt="Compatible con PS5, PS4 y PC"
                class="w-32"
              />
              <img src={data.firstImg.src} alt="Compatible con PS5, PS4 y PC" />
              <div class="flex items-center flex-col xl:flex-row">
                <img
                  class="md:max-w-md lg:max-w-lg xl:max-w-2xl"
                  src={data.secondImg.src}
                  alt="Mando Revolution 5 PRO"
                />
                <video
                  class="xl:w-[600px] xl:h-[400px] w-full h-64"
                  src="testingrepo/rev5profull.mp4"
                  muted
                  autoplay
                  controls
                />
              </div>
            </div>
          </>
        );
      })
    }
  </article>

  <div slot="footer" class="py-10">
    <a
      class="border-[3px] border-black font-bold backdrop-blur-sm text-sm rounded text-black px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors"
      href="#buysection"
    >
      COMPRAR AHORA</a
    >
  </div>

  <div
    slot="background"
    class="bg-gray-300 object-center object-cover h-full w-full"
  >
  </div>
</LongSection>
